[submodule "external/expected/expected"]
	path = external/expected/expected
	url = git@github.com:TartanLlama/expected.git
[submodule "external/glm/glm"]
	path = external/glm/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/grapphs/grapphs"]
	path = external/grapphs/grapphs
	url = git@github.com:BrunoSilvaFreire/grapphs.git
[submodule "external/spirv-reflect/SPIRV-Reflect"]
	path = external/spirv-reflect/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "external/cxxopts/cxxopts"]
	path = external/cxxopts/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "external/stb/stb"]
	path = external/stb/stb
	url = git@github.com:nothings/stb.git
[submodule "external/rapidjson/rapidjson"]
	path = external/rapidjson/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "external/fmt/fmt"]
	path = external/fmt/fmt
	url = git@github.com:fmtlib/fmt.git
